/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/*
color combination
grey:9D9B86
yellow:ECC87A
beige: DCCCAA
brown:827259 /7F7259
black: 0F0F0F

@import url(http://fonts.googleapis.com/css?family=Cabin);

body{
margin:0;
padding:0;
line-height: 1.5em;
max-width:1024px;
background:#9D9B86!important;
font-family:'Cabin';


}
*/
/* line 26, ../sass/global.scss */
body {
  background: green;
}
