@charset "UTF-8";
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* line 17, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 31, ../scss/skeleton.scss */
body {
  width: 100%;
}

/* line 40, ../scss/skeleton.scss */
#region-sidebar-second .block .block-inner .content {
  padding: 0px;
}

/* line 6, ../scss/tour.scss */
.tour-calendar {
  margin: 30px auto;
  width: 93px;
  height: 111px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}
/* line 17, ../scss/tour.scss */
.tour-calendar:before {
  content: '';
  display: block;
  width: 93px;
  height: 69px;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-linear-gradient(white 0%, #edeeef 100%);
  background-image: -moz-linear-gradient(white 0%, #edeeef 100%);
  background-image: -o-linear-gradient(white 0%, #edeeef 100%);
  background-image: linear-gradient(#ffffff 0%, #edeeef 100%);
}
/* line 33, ../scss/tour.scss */
.tour-calendar .month {
  width: 93px;
  height: 27px;
  position: absolute;
  top: -1px;
  background-color: #fa565a;
  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid #e5e5e5;
  font: 400 15px/27px Arial, Helvetica, Geneva, sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: center;
}
/* line 51, ../scss/tour.scss */
.tour-calendar .day {
  width: 93px;
  height: 80px;
  position: absolute;
  top: 28px;
  font: 400 55px/75px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  letter-spacing: -2px;
  color: #4c566b;
  text-align: center;
  z-index: 10;
}
/* line 66, ../scss/tour.scss */
.tour-calendar .day:before {
  content: '';
  display: block;
  position: absolute;
  top: 35px;
  width: 3px;
  height: 10px;
  background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
}
/* line 82, ../scss/tour.scss */
.tour-calendar .day:after {
  content: '';
  display: block;
  position: absolute;
  top: 35px;
  right: 0;
  width: 3px;
  height: 10px;
  background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
  background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
}

/* line 106, ../scss/tour.scss */
.views-field-title .tour-band {
  margin-top: 22px;
}
/* line 108, ../scss/tour.scss */
.views-field-title .tour-band a {
  color: #904848;
  font-size: 20px;
  font-weight: bold;
  margin-top: 22px;
}
/* line 115, ../scss/tour.scss */
.views-field-title .tour-location {
  padding-top: 15px;
  line-height: 2;
}
/* line 118, ../scss/tour.scss */
.views-field-title .tour-location .ss-icon {
  float: left;
  padding-right: 7px;
  color: white;
  text-shadow: rgba(100, 100, 100, 0.1) 1px 1px 0px;
}
/* line 126, ../scss/tour.scss */
.views-field-title .tour-location .location.map-link a {
  color: #904848;
}
/* line 130, ../scss/tour.scss */
.views-field-title .tour-location .location .adr {
  text-transform: capitalize;
}

/* line 139, ../scss/tour.scss */
.tour-tickets {
  margin-top: 70px;
  margin-right: 8px;
  float: right;
}
/* line 144, ../scss/tour.scss */
.tour-tickets a {
  background: #904848;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #d8b2b2;
  color: white !important;
}
/* line 59, ../scss/mixins.scss */
.tour-tickets a:hover, .tour-tickets a:focus {
  background: #7f4040;
  color: #e1c3c3;
}
/* line 67, ../scss/mixins.scss */
.tour-tickets a:hover, .tour-tickets a:focus {
  box-shadow: 0 0 0 5px #bf7f7f;
}

/* line 153, ../scss/tour.scss */
.view-tour-dates tr {
  background-color: #eee;
  border-bottom: 8px solid #D1D1D1;
  padding: 0.1em 0.6em;
}

/* @end */
/* line 1, ../scss/news.scss */
.page-blog .region-content .view-content .views-row {
  width: 100% !important;
  float: none;
  float: right;
  float: none;
  border: 1px solid white;
  display: block;
  margin: 19px 0;
  clear: both;
  position: relative;
}

/* line 132, ../scss/news.scss */
.class-view-news tr {
  background-color: #eee;
  border-bottom: 30px solid #D1D1D1;
  padding: 0.1em 0.6em;
}
/* line 137, ../scss/news.scss */
.class-view-news tr .field-name-field-image {
  width: 300px;
  overflow: hidden;
}
/* line 145, ../scss/news.scss */
.class-view-news tr .field-name-field-image img {
  -webkit-transform: Scale(1);
  -moz-transform: Scale(1);
  -ms-transform: Scale(1);
  -o-transform: Scale(1);
  transform: Scale(1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 148, ../scss/news.scss */
.class-view-news tr .field-name-field-image img:hover {
  -webkit-transform: Scale(1.2);
  -moz-transform: Scale(1.2);
  -ms-transform: Scale(1.2);
  -o-transform: Scale(1.2);
  transform: Scale(1.2);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 155, ../scss/news.scss */
.class-view-news tr .news-title {
  padding: 15px;
}
/* line 160, ../scss/news.scss */
.class-view-news tr .news-title h3 a {
  display: block;
  font-size: 20px;
  line-height: 1;
  color: #904848;
}
/* line 167, ../scss/news.scss */
.class-view-news tr .news-title span {
  color: grey;
}
/* line 170, ../scss/news.scss */
.class-view-news tr .news-title .field-name-field-tags {
  display: block;
}
/* line 172, ../scss/news.scss */
.class-view-news tr .news-title .field-name-field-tags a {
  background: #7f7259;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #cfc8bb;
  color: white;
  padding: 0px 5px;
  display: inline-block;
  margin-top: 1px;
}
/* line 59, ../scss/mixins.scss */
.class-view-news tr .news-title .field-name-field-tags a:hover, .class-view-news tr .news-title .field-name-field-tags a:focus {
  background: #70654e;
  color: #dad4ca;
}
/* line 67, ../scss/mixins.scss */
.class-view-news tr .news-title .field-name-field-tags a:hover, .class-view-news tr .news-title .field-name-field-tags a:focus {
  box-shadow: 0 0 0 5px #b0a48e;
}
/* line 180, ../scss/news.scss */
.class-view-news tr .news-title .field-name-body {
  margin: 10px 0px;
}
/* line 184, ../scss/news.scss */
.class-view-news tr .news-title p a {
  background: #904848;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #d8b2b2;
  color: white;
  float: right;
}
/* line 59, ../scss/mixins.scss */
.class-view-news tr .news-title p a:hover, .class-view-news tr .news-title p a:focus {
  background: #7f4040;
  color: #e1c3c3;
}
/* line 67, ../scss/mixins.scss */
.class-view-news tr .news-title p a:hover, .class-view-news tr .news-title p a:focus {
  box-shadow: 0 0 0 5px #bf7f7f;
}
/* line 191, ../scss/news.scss */
.class-view-news tr td {
  padding: 0px;
}

/* line 199, ../scss/news.scss */
.node-type-blog-post .node-blog-post .field-name-field-tags {
  border-top: 0px solid white !important;
  font-size: 15px !important;
}
/* line 202, ../scss/news.scss */
.node-type-blog-post .node-blog-post .field-name-field-tags a {
  background: #7f7259;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #cfc8bb;
  color: white;
  padding: 0px 5px;
  display: inline-block;
  margin-top: 1px;
}
/* line 59, ../scss/mixins.scss */
.node-type-blog-post .node-blog-post .field-name-field-tags a:hover, .node-type-blog-post .node-blog-post .field-name-field-tags a:focus {
  background: #70654e;
  color: #dad4ca;
}
/* line 67, ../scss/mixins.scss */
.node-type-blog-post .node-blog-post .field-name-field-tags a:hover, .node-type-blog-post .node-blog-post .field-name-field-tags a:focus {
  box-shadow: 0 0 0 5px #b0a48e;
}
/* line 210, ../scss/news.scss */
.node-type-blog-post .node-blog-post .field-name-field-news-date {
  text-align: right;
  color: grey;
}
/* line 214, ../scss/news.scss */
.node-type-blog-post .node-blog-post .field-name-field-news-date .date-display-single:before {
  content: "Posted on ";
}

/* line 226, ../scss/news.scss */
.page-taxonomy-term .node-blog-post {
  margin-top: 20px;
  background-color: #eee;
  width: 100%;
}
/* line 230, ../scss/news.scss */
.page-taxonomy-term .node-blog-post .field-name-field-image {
  width: 300px;
  float: left;
  margin-right: 10px;
}
/* line 235, ../scss/news.scss */
.page-taxonomy-term .node-blog-post .field-name-field-news-date {
  color: grey;
}
/* line 238, ../scss/news.scss */
.page-taxonomy-term .node-blog-post .field-name-body {
  width: 330px;
  float: right;
  margin-top: 10px;
}
/* line 243, ../scss/news.scss */
.page-taxonomy-term .node-blog-post .node-title {
  display: block;
  font-size: 20px;
  line-height: 1;
  float: right;
  margin-top: 12px;
  width: 345px;
}
/* line 244, ../scss/news.scss */
.page-taxonomy-term .node-blog-post .node-title a {
  color: #904848;
}
/* line 257, ../scss/news.scss */
.page-taxonomy-term nav.node-links {
  float: right !important;
  width: 100px;
  margin-top: -70px;
}
/* line 263, ../scss/news.scss */
.page-taxonomy-term nav.node-links ul li.comment-comments {
  display: none;
}
/* line 266, ../scss/news.scss */
.page-taxonomy-term nav.node-links ul li.node-readmore {
  float: right;
}
/* line 268, ../scss/news.scss */
.page-taxonomy-term nav.node-links ul li.node-readmore a {
  float: right;
}

/* line 12, ../scss/cart.scss */
.page-cart .view-commerce-cart-form .entity-commerce-product .field-name-title-field {
  font-weight: bold;
  margin-bottom: 1em;
}

/* line 28, ../scss/cart.scss */
.page-checkout .commerce-checkout-progress {
  list-style: none !important;
}
/* line 31, ../scss/cart.scss */
.page-checkout .commerce-checkout-progress li {
  font-size: 12px !important;
}
/* line 33, ../scss/cart.scss */
.page-checkout .commerce-checkout-progress li.active {
  background-color: #904848 !important;
  color: #ffffff;
}
/* line 36, ../scss/cart.scss */
.page-checkout .commerce-checkout-progress li.active:after {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #904848;
}
/* line 43, ../scss/cart.scss */
.page-checkout .commerce-checkout-progress li.last:after {
  background: #efefef url("../images/bg_checkout_progress_last.png") right center no-repeat;
}

/* line 57, ../scss/cart.scss */
.page-checkout-review #edit-continue {
  background: #904848 !important;
  background: #904848;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #d8b2b2;
  color: white;
}
/* line 59, ../scss/mixins.scss */
.page-checkout-review #edit-continue:hover, .page-checkout-review #edit-continue:focus {
  background: #7f4040;
  color: #e1c3c3;
}
/* line 67, ../scss/mixins.scss */
.page-checkout-review #edit-continue:hover, .page-checkout-review #edit-continue:focus {
  box-shadow: 0 0 0 5px #bf7f7f;
}

/* line 4, ../scss/products.scss */
.view-product-list,
.view-popular-products,
.view-latest-products,
.view-artist-related-products {
  margin: auto;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
/* line 15, ../scss/products.scss */
.view-product-list .node-product-display header .field-name-title-field,
.view-popular-products .node-product-display header .field-name-title-field,
.view-latest-products .node-product-display header .field-name-title-field,
.view-artist-related-products .node-product-display header .field-name-title-field {
  color: black;
}
/* line 18, ../scss/products.scss */
.view-product-list .node-product-display header .field-name-title-field a,
.view-popular-products .node-product-display header .field-name-title-field a,
.view-latest-products .node-product-display header .field-name-title-field a,
.view-artist-related-products .node-product-display header .field-name-title-field a {
  color: black;
  font-size: 18px;
  line-height: 1;
  float: left;
  text-align: center;
  width: 100%;
  margin-bottom: 6px;
}
/* line 31, ../scss/products.scss */
.view-product-list .node-product-display .field-name-field-band a,
.view-popular-products .node-product-display .field-name-field-band a,
.view-latest-products .node-product-display .field-name-field-band a,
.view-artist-related-products .node-product-display .field-name-field-band a {
  width: 100%;
  float: left;
  margin-right: 3.84615%;
  display: inline;
  text-align: center;
  color: #904848;
}
/* line 37, ../scss/products.scss */
.view-product-list .node-product-display .field-name-field-product,
.view-popular-products .node-product-display .field-name-field-product,
.view-latest-products .node-product-display .field-name-field-product,
.view-artist-related-products .node-product-display .field-name-field-product {
  margin-top: -31px !important;
  text-align: center;
}
/* line 41, ../scss/products.scss */
.view-product-list .node-product-display .field-name-commerce-price,
.view-popular-products .node-product-display .field-name-commerce-price,
.view-latest-products .node-product-display .field-name-commerce-price,
.view-artist-related-products .node-product-display .field-name-commerce-price {
  font-size: 20px;
  text-align: center;
}

/* line 55, ../scss/products.scss */
.node-product-type .field-type-commerce-product-reference form .commerce-add-to-cart .form-submit#edit-submit {
  background-color: #904848 !important;
  background-image: none !important;
  padding: 0px !important;
}

/* line 66, ../scss/products.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
  background-color: #904848 !important;
  background-image: none !important;
  background-position: 90% 50%;
  /* LTR */
  background-repeat: no-repeat;
  border: 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 10px !important;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 5px;
  /* LTR */
  padding: 6px 13px !important;
  /* LTR */
}

/* line 88, ../scss/products.scss */
#frontpage-latest-products .view-latest-products .view-content {
  background-color: #dddddd;
}

/* line 92, ../scss/products.scss */
.commerce-add-to-cart-confirmation {
  width: 100% !important;
}
/* line 96, ../scss/products.scss */
.commerce-add-to-cart-confirmation .button-wrapper .checkout {
  background: #904848;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #d8b2b2;
  background-color: #904848 !important;
}
/* line 59, ../scss/mixins.scss */
.commerce-add-to-cart-confirmation .button-wrapper .checkout:hover, .commerce-add-to-cart-confirmation .button-wrapper .checkout:focus {
  background: #7f4040;
  color: #e1c3c3;
}
/* line 67, ../scss/mixins.scss */
.commerce-add-to-cart-confirmation .button-wrapper .checkout:hover, .commerce-add-to-cart-confirmation .button-wrapper .checkout:focus {
  box-shadow: 0 0 0 5px #bf7f7f;
}
/* line 102, ../scss/products.scss */
.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content {
  left: 200px !important;
  width: 100% !important;
  margin-left: 0px !important;
}

/* line 111, ../scss/products.scss */
.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  position: absolute !important;
  left: -160px !important;
  width: 130px;
}

/* line 122, ../scss/products.scss */
.page-products-panel .panel-display table tbody {
  width: 100%;
}

/* line 139, ../scss/products.scss */
.view-product-list,
.view-latest-products,
.view-popular-products {
  width: 100%;
}
/* line 144, ../scss/products.scss */
.view-product-list tr td,
.view-latest-products tr td,
.view-popular-products tr td {
  width: 21.25%;
  float: left;
  margin-right: 1.25%;
  display: inline;
  width: 23%;
  padding: 0 !important;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 158, ../scss/products.scss */
.view-product-list tr td .node-product-display .content .field-name-field-images,
.view-latest-products tr td .node-product-display .content .field-name-field-images,
.view-popular-products tr td .node-product-display .content .field-name-field-images {
  width: 100px;
  width: 100%;
}
/* line 166, ../scss/products.scss */
.view-product-list tr td .node-product-display .content header h2.field-name-title-field a,
.view-latest-products tr td .node-product-display .content header h2.field-name-title-field a,
.view-popular-products tr td .node-product-display .content header h2.field-name-title-field a {
  color: black !important;
}
/* line 171, ../scss/products.scss */
.view-product-list tr td .node-product-display .content .field-name-field-band a,
.view-latest-products tr td .node-product-display .content .field-name-field-band a,
.view-popular-products tr td .node-product-display .content .field-name-field-band a {
  color: #904848;
}

/* line 197, ../scss/products.scss */
.node-type-product-display .node-product-display .group-right {
  text-align: right;
}
/* line 199, ../scss/products.scss */
.node-type-product-display .node-product-display .group-right .field-name-title {
  padding: 0 13px;
}
/* line 203, ../scss/products.scss */
.node-type-product-display .node-product-display .group-right .field-name-field-band {
  padding: 0 13px;
  margin-top: -15px;
}
/* line 206, ../scss/products.scss */
.node-type-product-display .node-product-display .group-right .field-name-field-band a {
  color: #904848;
  font-size: 16px;
  margin-top: -9px;
}
/* line 212, ../scss/products.scss */
.node-type-product-display .node-product-display .group-right .field-name-field-release-date {
  padding: 0 13px;
}
/* line 215, ../scss/products.scss */
.node-type-product-display .node-product-display .group-right .field-name-commerce-price {
  padding: 0 13px;
}
/* line 218, ../scss/products.scss */
.node-type-product-display .node-product-display .group-right .field-name-field-product {
  padding: 0 13px;
  float: right;
  margin-bottom: 20px;
}
/* line 224, ../scss/products.scss */
.node-type-product-display .node-product-display .group-right .field-name-field-product .commerce-add-to-cart #edit-submit {
  padding: 15px 24px !important;
  font-size: 20px !important;
}

/* line 241, ../scss/products.scss */
.node-type-artist .panel-flexible .panel-flexible-inside .panels-flexible-row {
  width: 100%;
}
/* line 246, ../scss/products.scss */
.node-type-artist .panel-flexible .panel-flexible-inside .panels-flexible-row.panels-flexible-row-last .pane-artist-related-products .view-artist-related-products table {
  width: 100%;
}
/* line 250, ../scss/products.scss */
.node-type-artist .panel-flexible .panel-flexible-inside .panels-flexible-row.panels-flexible-row-last .pane-artist-related-products .view-artist-related-products table tbody tr td {
  width: 25% !important;
  padding: 0 !important;
  margin: 0px !important;
}

/*@include font-face("Vollkorn-Regular", font-files("fonts/Vollkorn-Regular.ttf", "fonts/Vollkorn-Regular.otf","fonts/Vollkorn-Regular.eot","fonts/Vollkorn-Regular.svg","fonts/Vollkorn-Regular.woff"));*/
/* line 20, ../scss/_base.scss */
body {
  font-family: "Vollkorn-Regular";
  background: #9d9b86;
  /*  a{
      color:white!important;
      text-decoration: none!important;
      @include text-shadow(rgba(0, 0, 0, .8) 0px 1px 0);
  
    }*/
}
/* line 23, ../scss/_base.scss */
body .zone-content-wrapper .zone-content .region-content-inner {
  margin-bottom: 0px;
}
/* line 30, ../scss/_base.scss */
body #section-header #zone-user-wrapper {
  top: 0px;
}
/* line 33, ../scss/_base.scss */
body #section-header #zone-branding-wrapper {
  background-image: url("http://deadletterrecords.com/images/bg_4.png");
}
/* line 36, ../scss/_base.scss */
body #section-header #zone-branding-wrapper #zone-branding {
  background-repeat: repeat-x;
  height: 163px;
  background-color: transparent;
  margin-top: 34px;
}
/* line 43, ../scss/_base.scss */
body #section-header #zone-branding-wrapper .zone-branding .region-branding {
  margin-top: 0px;
  margin-bottom: -1px;
}
/* line 46, ../scss/_base.scss */
body #section-header #zone-branding-wrapper .zone-branding .region-branding .social-media {
  width: 200px;
  float: right;
}
/* line 47, ../scss/_base.scss */
body #section-header #zone-branding-wrapper .zone-branding .region-branding .social-media h3.title {
  color: white;
  text-align: center;
  display: block;
  font-size: 10px;
  margin-bottom: 0px;
}
/* line 58, ../scss/_base.scss */
body #section-header #zone-branding-wrapper .zone-branding .region-branding .social-media ul li {
  display: inline;
  font-size: 30px;
}
/* line 61, ../scss/_base.scss */
body #section-header #zone-branding-wrapper .zone-branding .region-branding .social-media ul li a {
  color: white;
}
/* line 69, ../scss/_base.scss */
body #section-header #region-header-first, body #section-header #region-header-second {
  background-color: #7f7259;
}
/* line 71, ../scss/_base.scss */
body #section-header #region-header-first h2, body #section-header #region-header-second h2 {
  color: white;
}
/* line 75, ../scss/_base.scss */
body #section-header .zone-branding {
  background-color: grey;
}
/* line 78, ../scss/_base.scss */
body #section-header .tb-megamenu {
  background-image: none !important;
  background-color: black !important;
}
/* line 82, ../scss/_base.scss */
body #section-header .tb-megamenu a {
  color: white;
}
/* line 88, ../scss/_base.scss */
body #section-header .tb-megamenu-column-inner a {
  color: white;
}
/* line 91, ../scss/_base.scss */
body #section-header .tb-megamenu-column-inner a:hover {
  background-color: grey;
  color: white;
}
/* line 98, ../scss/_base.scss */
body .container-24 .grid-24 {
  margin-left: 0px;
  margin-right: 0px;
  width: 960px;
}
/* line 110, ../scss/_base.scss */
body h1,
body .page-home2 h2,
body #mp3-albums-panel .pane-title,
body #mp3-songs-panel .pane-title,
body #popular-items-panel .pane-title,
body .pane-latest-products .pane-title {
  text-align: center;
  position: relative;
  color: #fff;
  margin: 0 -30px 30px -30px;
  padding: 10px 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8);
  text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0;
  background: #5c5c5c;
  -webkit-box-shadow: inset 0 2px 0.3 0.3 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 0.3 0.3 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 0.3 0.3 rgba(0, 0, 0, 0.3);
}
/* line 135, ../scss/_base.scss */
body h1:before,
body #mp3-albums-panel .pane-title:before,
body #mp3-songs-panel .pane-title:before,
body #popular-items-panel .pane-title:before,
body .pane-latest-products .pane-title:before {
  left: 0;
  content: "★";
}
/* line 146, ../scss/_base.scss */
body h1:after,
body #mp3-albums-panel .pane-title:after,
body #mp3-songs-panel .pane-title:after,
body #popular-items-panel .pane-title:after,
body .pane-latest-products .pane-title:after {
  right: 0;
}
/* line 152, ../scss/_base.scss */
body p {
  font-size: 16px;
}
/* line 161, ../scss/_base.scss */
body .breadcrumb {
  background: none;
  border: 0px;
  margin: 0px;
  padding: 5px 3px 15px 3px;
  color: white;
}
/* line 167, ../scss/_base.scss */
body .breadcrumb a {
  color: white;
}
/* line 174, ../scss/_base.scss */
body #left_block_frontpage,
body #right_block_frontpage,
body .pane-current-contest {
  background-color: #7f7259;
  height: 250px;
  text-align: center;
}
/* line 180, ../scss/_base.scss */
body #left_block_frontpage h2:before,
body #right_block_frontpage h2:before,
body .pane-current-contest h2:before {
  content: "★";
}
/* line 184, ../scss/_base.scss */
body #left_block_frontpage a,
body #right_block_frontpage a,
body .pane-current-contest a {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0;
  font-size: 20px;
}
/* line 190, ../scss/_base.scss */
body #left_block_frontpage {
  -moz-border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px 10px;
  box-shadow: 0px 3px 3px #333;
  background-color: #7F7259;
  margin-right: 0%;
  margin-left: 1%;
}
/* line 199, ../scss/_base.scss */
body #left_block_frontpage:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* line 219, ../scss/_base.scss */
body #right_block_frontpage,
body .pane-current-contest {
  background-color: #7F7259;
  box-shadow: 0 3px 3px #333;
  margin-left: 0%;
  text-align: center;
  margin-right: 1%;
  -moz-border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px 10px;
}
/* line 229, ../scss/_base.scss */
body #right_block_frontpage:after,
body .pane-current-contest:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  width: 80%;
  top: 80%;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
/* line 252, ../scss/_base.scss */
body #page-title, body .page-home2 h2,
body #mp3-albums-panel .pane-title,
body #mp3-songs-panel .pane-title,
body #popular-items-panel .pane-title {
  font-size: 28px;
  font-weight: 600;
  margin-left: -10px !important;
  text-transform: uppercase;
  margin-bottom: 0px;
  width: 100.1%;
  padding: 10px 10px;
  -moz-box-shadow: 0px 0px 4px black;
  -khtml-box-shadow: 0px 0px 4px black;
  -webkit-box-shadow: 0px 0px 4px black;
  -o-box-shadow: 0px 0px 4px black;
}
/* line 269, ../scss/_base.scss */
body .view-demo-content-slideshow {
  /* HP blocks: Slideshow */
}
/* line 272, ../scss/_base.scss */
body .view-demo-content-slideshow .bx-wrapper {
  padding-bottom: 100px;
}
/* line 275, ../scss/_base.scss */
body .view-demo-content-slideshow .bx-wrapper ul.event-slider li {
  overflow: visible;
}
/* line 278, ../scss/_base.scss */
body .view-demo-content-slideshow .views-field-nothing {
  background: #888;
  border: 1px solid #cccccc;
  color: #ffffff;
  padding-bottom: 5px;
  position: absolute;
  bottom: -100px;
  left: 34%;
}
/* line 288, ../scss/_base.scss */
body .view-demo-content-slideshow .bx-prev,
body .view-demo-content-slideshow .bx-next {
  color: #000000;
  background: #EEE;
  border: 1px solid #cccccc;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  padding-bottom: 5px;
}
/* line 298, ../scss/_base.scss */
body .view-demo-content-slideshow .bx-prev:hover,
body .view-demo-content-slideshow .bx-next:hover {
  background: #FFF;
}
/* line 303, ../scss/_base.scss */
body .view-demo-content-slideshow .views-field-nothing,
body .view-demo-content-slideshow .bx-prev,
body .view-demo-content-slideshow .bx-next {
  display: block;
  height: 80px;
  text-align: center;
  text-indent: 0;
  width: 32%;
  margin-right: 2%;
}
/* line 313, ../scss/_base.scss */
body .view-demo-content-slideshow .views-field-nothing span.field-content,
body .view-demo-content-slideshow .bx-prev span.field-content,
body .view-demo-content-slideshow .bx-next span.field-content {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 21px;
  height: 80px;
  line-height: 28px;
  padding: 10px 25px 0;
  overflow: hidden;
}
/* line 325, ../scss/_base.scss */
body .view-demo-content-slideshow .views-field-nothing span.field-content em,
body .view-demo-content-slideshow .bx-prev span.field-content em,
body .view-demo-content-slideshow .bx-next span.field-content em {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 333, ../scss/_base.scss */
body .view-demo-content-slideshow .bx-prev {
  margin-left: 0;
  /* LTR */
  float: left;
  /* LTR */
  position: absolute;
  bottom: 0;
  left: 0;
  /* LTR */
}
/* line 343, ../scss/_base.scss */
body .view-demo-content-slideshow .bx-next {
  margin-right: 0;
  /* LTR */
  float: right;
  /* LTR */
  position: absolute;
  bottom: 0;
  right: 0;
  /* LTR */
}
/* line 354, ../scss/_base.scss */
body .page-cart #region-sidebar-second {
  display: none;
}
/* line 358, ../scss/_base.scss */
body .node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart {
  background: none;
  padding-top: 0px;
}
/* line 363, ../scss/_base.scss */
body .node-product-type .field-type-commerce-product-reference {
  background: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* line 368, ../scss/_base.scss */
body .node-product-type .field-name-commerce-price {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}
/* line 376, ../scss/_base.scss */
body .pane-product-list,
body .pane-popular-products {
  margin-bottom: 70px;
  margin-top: -20px;
}
/* line 382, ../scss/_base.scss */
body .pane-product-list .more-link a,
body .pane-popular-products .more-link a {
  background: #2698f2;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #cee8fc;
  background: #904848;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #d8b2b2;
  color: white;
  float: right;
}
/* line 59, ../scss/mixins.scss */
body .pane-product-list .more-link a:hover, body .pane-product-list .more-link a:focus,
body .pane-popular-products .more-link a:hover,
body .pane-popular-products .more-link a:focus {
  background: #0e8df0;
  color: #e6f3fe;
}
/* line 67, ../scss/mixins.scss */
body .pane-product-list .more-link a:hover, body .pane-product-list .more-link a:focus,
body .pane-popular-products .more-link a:hover,
body .pane-popular-products .more-link a:focus {
  box-shadow: 0 0 0 5px #86c6f8;
}
/* line 59, ../scss/mixins.scss */
body .pane-product-list .more-link a:hover, body .pane-product-list .more-link a:focus,
body .pane-popular-products .more-link a:hover,
body .pane-popular-products .more-link a:focus {
  background: #7f4040;
  color: #e1c3c3;
}
/* line 67, ../scss/mixins.scss */
body .pane-product-list .more-link a:hover, body .pane-product-list .more-link a:focus,
body .pane-popular-products .more-link a:hover,
body .pane-popular-products .more-link a:focus {
  box-shadow: 0 0 0 5px #bf7f7f;
}

/* line 396, ../scss/_base.scss */
.pane-homepage-slider #flexslider-1 {
  border: 0px;
  background: none;
  margin: 0 0 35px;
}
/* line 400, ../scss/_base.scss */
.pane-homepage-slider #flexslider-1 .flex-control-nav {
  bottom: -30px;
}
/* line 404, ../scss/_base.scss */
.pane-homepage-slider #flexslider-1 .slides li {
  margin-left: -0%;
}
/* line 407, ../scss/_base.scss */
.pane-homepage-slider #flexslider-1 .slides li .field-name-field-image img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 414, ../scss/_base.scss */
.pane-homepage-slider #flexslider-1 .slides li .flex-caption {
  position: relative;
  margin-top: -200px;
  height: 50px;
  color: white;
  padding: 50px;
  font-size: 2em;
  text-shadow: black 1px 3px 5px;
}
/* line 423, ../scss/_base.scss */
.pane-homepage-slider #flexslider-1 .slides li .views-field-nothing {
  position: relative;
  margin-top: -126px;
  padding: 50px;
}
/* line 427, ../scss/_base.scss */
.pane-homepage-slider #flexslider-1 .slides li .views-field-nothing .field-name-field-tagline {
  color: white;
  font-size: 1.5em;
  text-shadow: black 1px 3px 5px;
}
/* line 433, ../scss/_base.scss */
.pane-homepage-slider #flexslider-1 .slides li .views-field-nothing a {
  background: #2698f2;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #cee8fc;
  background: #904848;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #d8b2b2;
  color: white;
  float: right;
}
/* line 59, ../scss/mixins.scss */
.pane-homepage-slider #flexslider-1 .slides li .views-field-nothing a:hover, .pane-homepage-slider #flexslider-1 .slides li .views-field-nothing a:focus {
  background: #0e8df0;
  color: #e6f3fe;
}
/* line 67, ../scss/mixins.scss */
.pane-homepage-slider #flexslider-1 .slides li .views-field-nothing a:hover, .pane-homepage-slider #flexslider-1 .slides li .views-field-nothing a:focus {
  box-shadow: 0 0 0 5px #86c6f8;
}
/* line 59, ../scss/mixins.scss */
.pane-homepage-slider #flexslider-1 .slides li .views-field-nothing a:hover, .pane-homepage-slider #flexslider-1 .slides li .views-field-nothing a:focus {
  background: #7f4040;
  color: #e1c3c3;
}
/* line 67, ../scss/mixins.scss */
.pane-homepage-slider #flexslider-1 .slides li .views-field-nothing a:hover, .pane-homepage-slider #flexslider-1 .slides li .views-field-nothing a:focus {
  box-shadow: 0 0 0 5px #bf7f7f;
}
/* line 445, ../scss/_base.scss */
.pane-homepage-slider #flexslider-1 .flex-direction-nav .flex-prev, .pane-homepage-slider #flexslider-1 .flex-direction-nav .flex-next {
  height: 47px;
}

/* line 454, ../scss/_base.scss */
.page-home2 .pane-latest-products {
  margin-top: 20px;
}
/* line 456, ../scss/_base.scss */
.page-home2 .pane-latest-products .pane-content {
  background-color: #dddddd;
}
/* line 461, ../scss/_base.scss */
.page-home2 .pane-blog .pane-content {
  margin-top: -30px;
  background-color: #dddddd;
}

/* line 471, ../scss/_base.scss */
.pane-blog .views-row {
  width: 43% !important;
  margin: 3% !important;
}
/* line 475, ../scss/_base.scss */
.pane-blog .views-row h2 a {
  font-weight: bold;
}

/* line 483, ../scss/_base.scss */
.page-home2 .pane-blog .view-blog {
  margin-top: 20px;
}
/* line 486, ../scss/_base.scss */
.page-home2 .pane-blog .view-blog .views-row {
  width: 43% !important;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  margin: 3% !important;
}
/* line 487, ../scss/_base.scss */
.page-home2 .pane-blog .view-blog .views-row .node-title {
  padding: 0 15px;
}
/* line 495, ../scss/_base.scss */
.page-home2 .pane-blog .view-blog .views-row .field-name-field-news-video {
  margin-top: 14px;
}
/* line 498, ../scss/_base.scss */
.page-home2 .pane-blog .view-blog .views-row .field-name-field-news-video iframe {
  width: 390px;
  height: 270px;
}
/* line 503, ../scss/_base.scss */
.page-home2 .pane-blog .view-blog .views-row .field-name-body, .page-home2 .pane-blog .view-blog .views-row .field-name-field-blog-category, .page-home2 .pane-blog .view-blog .views-row .field-name-field-tags {
  display: none;
}
/* line 506, ../scss/_base.scss */
.page-home2 .pane-blog .view-blog .views-row .field-name-field-news-date {
  margin-top: -35px;
}
/* line 510, ../scss/_base.scss */
.page-home2 .pane-blog .view-blog .views-row .field-name-field-news-date span:before {
  content: '#';
}

/* line 525, ../scss/_base.scss */
.node-teaser .links {
  border-radius: 0px;
}

/* line 531, ../scss/_base.scss */
.node-teaser .links.node-links .links .node-readmore a,
.node-teaser .links.node-links .links .comment-comments a,
.node-teaser .links.node-links .links .comment-new-comments a {
  border: 0px !important;
  margin: 3px !important;
  background: #904848;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #d8b2b2;
  color: white !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 59, ../scss/mixins.scss */
.node-teaser .links.node-links .links .node-readmore a:hover, .node-teaser .links.node-links .links .node-readmore a:focus,
.node-teaser .links.node-links .links .comment-comments a:hover,
.node-teaser .links.node-links .links .comment-comments a:focus,
.node-teaser .links.node-links .links .comment-new-comments a:hover,
.node-teaser .links.node-links .links .comment-new-comments a:focus {
  background: #7f4040;
  color: #e1c3c3;
}
/* line 67, ../scss/mixins.scss */
.node-teaser .links.node-links .links .node-readmore a:hover, .node-teaser .links.node-links .links .node-readmore a:focus,
.node-teaser .links.node-links .links .comment-comments a:hover,
.node-teaser .links.node-links .links .comment-comments a:focus,
.node-teaser .links.node-links .links .comment-new-comments a:hover,
.node-teaser .links.node-links .links .comment-new-comments a:focus {
  box-shadow: 0 0 0 5px #bf7f7f;
}

/* line 545, ../scss/_base.scss */
#zone-content #page-title {
  background-color: #7f7259;
  color: white;
  text-align: left;
  text-indent: 2%;
  -moz-box-shadow: 0px 0px 4px black;
  -khtml-box-shadow: 0px 0px 4px black;
  -webkit-box-shadow: 0px 0px 4px black;
  -o-box-shadow: 0px 0px 4px black;
}
/* line 555, ../scss/_base.scss */
#zone-content .content {
  padding: 15px;
}
/* line 559, ../scss/_base.scss */
#zone-content .content .node-artist .group-left {
  width: 30%;
}
/* line 561, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .ss-icon {
  margin: 13px;
}
/* line 564, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .artist-facebook, #zone-content .content .node-artist .group-left .artist-myspace, #zone-content .content .node-artist .group-left .artist-twitter, #zone-content .content .node-artist .group-left .artist-youtube {
  display: inline-block;
  vertical-align: top;
}
/* line 568, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .artist-myspace {
  margin-top: 5px;
  float: left;
}
/* line 574, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .artist-facebook a,
#zone-content .content .node-artist .group-left .artist-twitter a,
#zone-content .content .node-artist .group-left .artist-youtube a {
  font-size: 3em !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 579, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .artist-youtube a {
  color: #b11b1b !important;
}
/* line 11, ../scss/mixins.scss */
#zone-content .content .node-artist .group-left .artist-youtube a:hover, #zone-content .content .node-artist .group-left .artist-youtube a:focus {
  background: #9b1818;
  color: #f2a7a7;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
/* line 584, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .artist-twitter a, #zone-content .content .node-artist .group-left .artist-twitter a:hover {
  color: #15afd8 !important;
}
/* line 587, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .artist-facebook a {
  color: #4d79ba !important;
}
/* line 590, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .artist-myspace a {
  display: block;
  background-image: url(../images/myspace-dlr.png);
  height: 44px;
  width: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -999999px;
}
/* line 600, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .field-name-field-artist-website {
  text-align: center;
  font-size: 10px;
}
/* line 603, ../scss/_base.scss */
#zone-content .content .node-artist .group-left .field-name-field-artist-website a {
  background: #7f8c8d;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #dde1e1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 59, ../scss/mixins.scss */
#zone-content .content .node-artist .group-left .field-name-field-artist-website a:hover, #zone-content .content .node-artist .group-left .field-name-field-artist-website a:focus {
  background: #727f80;
  color: #ebeded;
}
/* line 67, ../scss/mixins.scss */
#zone-content .content .node-artist .group-left .field-name-field-artist-website a:hover, #zone-content .content .node-artist .group-left .field-name-field-artist-website a:focus {
  box-shadow: 0 0 0 5px #b5bcbd;
}
/* line 610, ../scss/_base.scss */
#zone-content .content .node-artist .group-right {
  width: 70%;
}
/* line 612, ../scss/_base.scss */
#zone-content .content .node-artist .group-right .artist-image {
  padding: 10px;
}
/* line 614, ../scss/_base.scss */
#zone-content .content .node-artist .group-right .artist-image img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px 0px #cccccc, 1px 1px #cccccc, 2px 2px #cccccc, 3px 3px #cccccc, 4px 4px #cccccc, 5px 5px #cccccc, 6px 6px #cccccc, 7px 7px #cccccc, 8px 8px #cccccc, 9px 9px #cccccc, 10px 10px #cccccc, 11px 11px #cccccc, 12px 12px #cccccc, 13px 13px #cccccc, 14px 14px #cccccc, 15px 15px #cccccc, 16px 16px #cccccc, 17px 17px #cccccc, 18px 18px #cccccc, 19px 19px #cccccc, 20px 20px #cccccc, 21px 21px #cccccc, 22px 22px #cccccc, 23px 23px #cccccc, 24px 24px #cccccc, 25px 25px #cccccc, 26px 26px #cccccc, 27px 27px #cccccc, 28px 28px #cccccc, 29px 29px #cccccc, 30px 30px #cccccc, 31px 31px #cccccc, 32px 32px #cccccc, 33px 33px #cccccc, 34px 34px #cccccc, 35px 35px #cccccc, 36px 36px #cccccc, 37px 37px #cccccc, 38px 38px #cccccc, 39px 39px #cccccc, 40px 40px #cccccc, 41px 41px #cccccc, 42px 42px #cccccc, 43px 43px #cccccc, 44px 44px #cccccc, 45px 45px #cccccc, 46px 46px #cccccc, 47px 47px #cccccc, 48px 48px #cccccc, 49px 49px #cccccc, 50px 50px #cccccc, 51px 51px #cccccc, 52px 52px #cccccc, 53px 53px #cccccc, 54px 54px #cccccc, 55px 55px #cccccc, 56px 56px #cccccc, 57px 57px #cccccc, 58px 58px #cccccc, 59px 59px #cccccc, 60px 60px #cccccc, 61px 61px #cccccc, 62px 62px #cccccc, 63px 63px #cccccc, 64px 64px #cccccc, 65px 65px #cccccc, 66px 66px #cccccc, 67px 67px #cccccc, 68px 68px #cccccc, 69px 69px #cccccc, 70px 70px #cccccc, 71px 71px #cccccc, 72px 72px #cccccc, 73px 73px #cccccc, 74px 74px #cccccc, 75px 75px #cccccc, 76px 76px #cccccc, 77px 77px #cccccc, 78px 78px #cccccc, 79px 79px #cccccc, 80px 80px #cccccc, 81px 81px #cccccc, 82px 82px #cccccc, 83px 83px #cccccc, 84px 84px #cccccc, 85px 85px #cccccc, 86px 86px #cccccc, 87px 87px #cccccc, 88px 88px #cccccc, 89px 89px #cccccc, 90px 90px #cccccc, 91px 91px #cccccc, 92px 92px #cccccc, 93px 93px #cccccc, 94px 94px #cccccc, 95px 95px #cccccc, 96px 96px #cccccc, 97px 97px #cccccc, 98px 98px #cccccc, 99px 99px #cccccc, 100px 100px #cccccc, 101px 101px #cccccc, 102px 102px #cccccc, 103px 103px #cccccc, 104px 104px #cccccc, 105px 105px #cccccc, 106px 106px #cccccc, 107px 107px #cccccc, 108px 108px #cccccc, 109px 109px #cccccc, 110px 110px #cccccc, 111px 111px #cccccc, 112px 112px #cccccc, 113px 113px #cccccc, 114px 114px #cccccc, 115px 115px #cccccc, 116px 116px #cccccc, 117px 117px #cccccc, 118px 118px #cccccc, 119px 119px #cccccc, 120px 120px #cccccc, 121px 121px #cccccc, 122px 122px #cccccc, 123px 123px #cccccc, 124px 124px #cccccc, 125px 125px #cccccc, 126px 126px #cccccc, 127px 127px #cccccc, 128px 128px #cccccc, 129px 129px #cccccc, 130px 130px #cccccc, 131px 131px #cccccc, 132px 132px #cccccc, 133px 133px #cccccc, 134px 134px #cccccc, 135px 135px #cccccc, 136px 136px #cccccc, 137px 137px #cccccc, 138px 138px #cccccc, 139px 139px #cccccc, 140px 140px #cccccc, 141px 141px #cccccc, 142px 142px #cccccc, 143px 143px #cccccc, 144px 144px #cccccc, 145px 145px #cccccc, 146px 146px #cccccc, 147px 147px #cccccc, 148px 148px #cccccc, 149px 149px #cccccc, 150px 150px #cccccc, 151px 151px #cccccc, 152px 152px #cccccc, 153px 153px #cccccc, 154px 154px #cccccc, 155px 155px #cccccc, 156px 156px #cccccc, 157px 157px #cccccc, 158px 158px #cccccc, 159px 159px #cccccc, 160px 160px #cccccc, 161px 161px #cccccc, 162px 162px #cccccc, 163px 163px #cccccc, 164px 164px #cccccc, 165px 165px #cccccc, 166px 166px #cccccc, 167px 167px #cccccc, 168px 168px #cccccc, 169px 169px #cccccc, 170px 170px #cccccc, 171px 171px #cccccc, 172px 172px #cccccc, 173px 173px #cccccc, 174px 174px #cccccc, 175px 175px #cccccc, 176px 176px #cccccc, 177px 177px #cccccc, 178px 178px #cccccc, 179px 179px #cccccc, 180px 180px #cccccc, 181px 181px #cccccc, 182px 182px #cccccc, 183px 183px #cccccc, 184px 184px #cccccc, 185px 185px #cccccc, 186px 186px #cccccc, 187px 187px #cccccc, 188px 188px #cccccc, 189px 189px #cccccc, 190px 190px #cccccc, 191px 191px #cccccc, 192px 192px #cccccc, 193px 193px #cccccc, 194px 194px #cccccc, 195px 195px #cccccc, 196px 196px #cccccc, 197px 197px #cccccc, 198px 198px #cccccc, 199px 199px #cccccc, 200px 200px #cccccc;
}
/* line 619, ../scss/_base.scss */
#zone-content .content .node-artist .group-right .field-name-field-biography {
  text-align: justify;
  padding: 10px;
  color: #444;
}
/* line 632, ../scss/_base.scss */
#zone-content .content .field-name-field-artist-website {
  font-size: 20px;
}
/* line 637, ../scss/_base.scss */
#zone-content .content .view-artists .views-row {
  display: inline;
}
/* line 643, ../scss/_base.scss */
#zone-content .content .view-tour-dates table {
  width: 100%;
}
/* line 644, ../scss/_base.scss */
#zone-content .content .view-tour-dates table caption {
  font-size: 20px;
  text-align: center;
}
/* line 652, ../scss/_base.scss */
#zone-content .content .view-tour-dates table .field-name-field-band a {
  font-weight: bold;
  font-size: 20px;
}
/* line 657, ../scss/_base.scss */
#zone-content .content .view-tour-dates table .field-name-field-concert-buy-tickets-link a {
  background: #904848;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #d8b2b2;
  color: white;
  float: right;
}
/* line 59, ../scss/mixins.scss */
#zone-content .content .view-tour-dates table .field-name-field-concert-buy-tickets-link a:hover, #zone-content .content .view-tour-dates table .field-name-field-concert-buy-tickets-link a:focus {
  background: #7f4040;
  color: #e1c3c3;
}
/* line 67, ../scss/mixins.scss */
#zone-content .content .view-tour-dates table .field-name-field-concert-buy-tickets-link a:hover, #zone-content .content .view-tour-dates table .field-name-field-concert-buy-tickets-link a:focus {
  box-shadow: 0 0 0 5px #bf7f7f;
}
/* line 668, ../scss/_base.scss */
#zone-content .content .view-artists .view-content,
#zone-content .content .view-taxonomy-term .view-content,
#zone-content .content .view-latest-products .view-content {
  padding: 20px;
  margin: auto;
  text-align: center;
}
/* line 672, ../scss/_base.scss */
#zone-content .content .view-artists .view-content .views-row,
#zone-content .content .view-taxonomy-term .view-content .views-row,
#zone-content .content .view-latest-products .view-content .views-row {
  vertical-align: top;
  margin-bottom: 20px;
  vertical-align: top;
  display: inline-block;
  width: 30%;
  text-align: center;
}
/* line 679, ../scss/_base.scss */
#zone-content .content .view-artists .view-content .views-row .field-name-field-artist-main-image,
#zone-content .content .view-taxonomy-term .view-content .views-row .field-name-field-artist-main-image,
#zone-content .content .view-latest-products .view-content .views-row .field-name-field-artist-main-image {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
/* line 687, ../scss/_base.scss */
#zone-content .content .view-artists .view-content .views-row .views-field-title,
#zone-content .content .view-taxonomy-term .view-content .views-row .views-field-title,
#zone-content .content .view-latest-products .view-content .views-row .views-field-title {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: -80px;
  z-index: 20;
  overflow: visible;
  height: 60px;
}
/* line 695, ../scss/_base.scss */
#zone-content .content .view-artists .view-content .views-row .views-field-title a,
#zone-content .content .view-taxonomy-term .view-content .views-row .views-field-title a,
#zone-content .content .view-latest-products .view-content .views-row .views-field-title a {
  color: #904848;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8);
}
/* line 699, ../scss/_base.scss */
#zone-content .content .view-artists .view-content .views-row .views-field-title a:hover,
#zone-content .content .view-taxonomy-term .view-content .views-row .views-field-title a:hover,
#zone-content .content .view-latest-products .view-content .views-row .views-field-title a:hover {
  color: #904848;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8);
}

/* line 717, ../scss/_base.scss */
#zone-content #region-content .region-inner {
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #DDDDDD;
  background-color: #D1D1D1;
}
/* line 725, ../scss/_base.scss */
#zone-content #region-content .region-inner:after, #zone-content #region-content .region-inner:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* line 744, ../scss/_base.scss */
#zone-content #region-content .region-inner:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/* line 763, ../scss/_base.scss */
#section-footer {
  background-color: black;
  color: #888;
  margin-bottom: -20px;
}
/* line 773, ../scss/_base.scss */
#section-footer #block-menu-menu-social-connection .content ul.menu li a {
  background-image: none;
}

/* line 789, ../scss/_base.scss */
#widget .singleSound .sound__content .sc-media-right,
#widget .singleSound .sound__content .soundHeader__title,
#widget .singleSound .sound__content .sound__waveform {
  display: none !important;
}

/* line 796, ../scss/_base.scss */
#zone-content .pane-releases {
  margin-top: 50px;
}
/* line 798, ../scss/_base.scss */
#zone-content .pane-releases .pane-title {
  text-align: center;
  position: relative;
  color: #fff;
  margin: 0 -30px 30px -30px;
  padding: 10px 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8);
  text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0;
  background: #7f7259;
  font-size: 28px;
  font-weight: 600;
  margin-left: -10px !important;
  text-transform: uppercase;
  margin-bottom: 0px;
  width: 100.1%;
  padding: 10px 10px;
  -moz-box-shadow: 0px 0px 4px black;
  -khtml-box-shadow: 0px 0px 4px black;
  -webkit-box-shadow: 0px 0px 4px black;
  -o-box-shadow: 0px 0px 4px black;
  -webkit-box-shadow: inset 0 2px 0.3 0.3 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 0.3 0.3 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 0.3 0.3 rgba(0, 0, 0, 0.3);
}
/* line 820, ../scss/_base.scss */
#zone-content .pane-releases .pane-title:before {
  left: 0;
  content: "★";
}
/* line 825, ../scss/_base.scss */
#zone-content .pane-releases .pane-releases article {
  background-color: #dddddd;
}
/* line 833, ../scss/_base.scss */
#zone-content .pane-blog .pane-title, #zone-content #mp3-albums-panel .pane-title,
#zone-content #mp3-songs-panel .pane-title,
#zone-content #popular-items-panel .pane-title,
#zone-content .pane-latest-products .pane-title {
  text-align: center;
  position: relative;
  color: #fff;
  margin: 0 -30px 30px -30px;
  padding: 10px 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8);
  text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0;
  background: #7f7259;
  font-size: 28px;
  font-weight: 600;
  margin-left: -10px !important;
  text-transform: uppercase;
  margin-bottom: 0px;
  width: 100.1%;
  padding: 10px 10px;
  -moz-box-shadow: 0px 0px 4px black;
  -khtml-box-shadow: 0px 0px 4px black;
  -webkit-box-shadow: 0px 0px 4px black;
  -o-box-shadow: 0px 0px 4px black;
  -webkit-box-shadow: inset 0 2px 0.3 0.3 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 0.3 0.3 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 0.3 0.3 rgba(0, 0, 0, 0.3);
}
/* line 855, ../scss/_base.scss */
#zone-content .pane-blog .pane-title:before, #zone-content #mp3-albums-panel .pane-title:before,
#zone-content #mp3-songs-panel .pane-title:before,
#zone-content #popular-items-panel .pane-title:before,
#zone-content .pane-latest-products .pane-title:before {
  left: 0;
  content: "★";
}

/* line 877, ../scss/_base.scss */
#page #section-content #messages .error {
  display: none;
}
/* line 882, ../scss/_base.scss */
#page #section-content #region-content #page-title {
  box-shadow: 0 0 2px #000000;
}
/* line 886, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .pane-latest-products {
  width: 700px;
  margin-left: -15px;
}
/* line 894, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .artist-pane-image .pane-node-field-artist-website {
  float: right;
  margin-top: 13px;
}
/* line 900, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .artist-pane-image .pane-node-field-artist-myspace {
  width: 45px;
  display: inline;
  float: left;
  margin-top: 5px;
}
/* line 905, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .artist-pane-image .pane-node-field-artist-myspace a {
  display: block;
  background-image: url(../images/myspace-dlr.png);
  height: 44px;
  width: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -999999px;
}
/* line 915, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .artist-pane-image .pane-node-field-artist-facebook {
  width: 45px;
  display: inline;
  float: left;
}
/* line 920, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .artist-pane-image .pane-node-field-artist-facebook .artist-facebook a {
  color: #3b5998;
  font-size: 45px;
  width: 45px;
}
/* line 927, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .artist-pane-image .pane-node-field-artist-twitter {
  width: 45px;
  display: inline;
  float: left;
}
/* line 932, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .artist-pane-image .pane-node-field-artist-twitter .artist-twitter a {
  color: #4099ff;
  font-size: 45px;
}
/* line 938, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .artist-pane-image .pane-node-field-youtube {
  width: 45px;
  display: inline;
  float: left;
}
/* line 943, ../scss/_base.scss */
#page #section-content #region-content #block-system-main .artist-pane-image .pane-node-field-youtube .artist-youtube a {
  color: red;
  font-size: 45px;
}
/* line 952, ../scss/_base.scss */
#page #section-content #region-content #block-addtoany-addtoany-button {
  padding: 1em;
}

/* line 963, ../scss/_base.scss */
#section-footer #block-menu-menu-social-connection .content ul.menu li a:before {
  margin-right: 5px;
  margin-top: 3px;
  float: left;
}

/* line 977, ../scss/_base.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
  background: #904848;
  color: white;
  text-transform: uppercase;
  decoration: none;
  padding: 10px 20px;
  border-radius: .5em;
  color: #d8b2b2;
}
/* line 59, ../scss/mixins.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit:hover, .node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit:focus {
  background: #7f4040;
  color: #e1c3c3;
}
/* line 67, ../scss/mixins.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit:hover, .node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit:focus {
  box-shadow: 0 0 0 5px #bf7f7f;
}

/* line 984, ../scss/_base.scss */
#zone-footer-wrapper {
  width: 100%;
}
/* line 988, ../scss/_base.scss */
#zone-footer-wrapper .region-footer-first {
  width: 21.25%;
  float: left;
  margin-right: 1.25%;
  display: inline;
  display: none;
}
/* line 992, ../scss/_base.scss */
#zone-footer-wrapper .region-footer-second {
  width: 43.75%;
  float: left;
  margin-right: 1.25%;
  display: inline;
}
/* line 995, ../scss/_base.scss */
#zone-footer-wrapper .region-footer-second .view-tweets ul {
  margin-top: 20px;
  list-style: none;
}
/* line 998, ../scss/_base.scss */
#zone-footer-wrapper .region-footer-second .view-tweets ul li {
  border-bottom: thin dashed #696969;
}
/* line 1004, ../scss/_base.scss */
#zone-footer-wrapper .region-footer-third {
  width: 43.75%;
  float: left;
  margin-right: 1.25%;
  display: inline;
}

/* line 1012, ../scss/_base.scss */
.tb-megamenu .nav > li > a {
  border-right: 0px solid #222222 !important;
  background: none !important;
  padding: 16px 63px;
  text-shadow: none;
  font-size: 17px;
  text-transform: uppercase;
}
