@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3";
@import "compass/css3/box-shadow";
@import "susy";
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import 'skeleton';
@import 'variables';
@import 'mixins';
@import 'tour';
@import 'news';

@import 'cart';
@import 'products';




/*@include font-face("Vollkorn-Regular", font-files("fonts/Vollkorn-Regular.ttf", "fonts/Vollkorn-Regular.otf","fonts/Vollkorn-Regular.eot","fonts/Vollkorn-Regular.svg","fonts/Vollkorn-Regular.woff"));*/
body {


  .zone-content-wrapper .zone-content .region-content-inner {
    margin-bottom: 0px;
  }

  font-family: "Vollkorn-Regular";
  background: $brown-background;
  #section-header {
    #zone-user-wrapper {
      top: 0px;
    }
    #zone-branding-wrapper {
      background-image: url('http://deadletterrecords.com/images/bg_4.png');

      #zone-branding {
        //  background-image: /*url('http://deadletterrecords.com/images/bglogo.png') ,*/url('http://deadletterrecords.com/images/bg_4.png');
        background-repeat: /*no-repeat,*/ repeat-x;
        height: 163px;
        background-color: transparent;
        margin-top: 34px;
      }
      .zone-branding .region-branding {
        margin-top: 0px;
        margin-bottom: -1px;
        .social-media {
          h3.title {
            color: white;
            text-align: center;
            display: block;
            font-size: 10px;
            margin-bottom: 0px;
          }

          width: 200px;
          float: right;
          ul {
            li {
              display: inline;
              font-size: 30px;
              a {
                color: white;
              }
            }
          }
        }
      }
    }
    #region-header-first, #region-header-second {
      background-color: $brown-blocks;
      h2 {
        color: white;
      }
    }
    .zone-branding {
      background-color: grey;
    }
    .tb-megamenu {

      background-image: none !important;
      background-color: black !important;
      a {
        color: white;
      }
    }

    .tb-megamenu-column-inner {
      a {
        color: white;
      }
      a:hover {
        background-color: grey;
        color: white;
      }
    }
  }
  .container-24 {
    .grid-24 {
      margin-left: 0px;
      margin-right: 0px;
      width: 960px;
    }
  }

  h1,
  .page-home2 h2,
  #mp3-albums-panel .pane-title,
  #mp3-songs-panel .pane-title,
  #popular-items-panel .pane-title,
  .pane-latest-products .pane-title {
    text-align: center;
    position: relative;
    color: #fff;
    margin: 0 -30px 30px -30px;
    padding: 10px 0;
    text-shadow: 0 1px rgba(0, 0, 0, .8);
    @include text-shadow(rgba(0, 0, 0, .8) 0px 1px 0);
    background: #5c5c5c;

    @include single-box-shadow(rgba(0, 0, 0, .3), 0, 2px, 0.3, 0.3, 0);
  }

  h1:before, h1:after {
    // content: '';
    //position: absolute;
    //border-style: solid;
    ///border-color: transparent;
    // bottom: -10px;
  }

  h1:before,
  #mp3-albums-panel .pane-title:before,
  #mp3-songs-panel .pane-title:before,
  #popular-items-panel .pane-title:before,
  .pane-latest-products .pane-title:before {
    // border-width: 0 10px 10px 0;
    //border-right-color: #222;
    left: 0;
    content: "★";
  }

  h1:after,
  #mp3-albums-panel .pane-title:after,
  #mp3-songs-panel .pane-title:after,
  #popular-items-panel .pane-title:after,
  .pane-latest-products .pane-title:after {
    //border-width: 0 0 10px 10px;
    // border-left-color: #222;
    right: 0;
  }

  p {
    font-size: 16px;
  }
/*  a{
    color:white!important;
    text-decoration: none!important;
    @include text-shadow(rgba(0, 0, 0, .8) 0px 1px 0);

  }*/
  .breadcrumb {
    background: none;
    border: 0px;
    margin: 0px;
    padding: 5px 3px 15px 3px;
    color: white;
    a {
      color: white;
    }
  }

  #left_block_frontpage,
  #right_block_frontpage,
  .pane-current-contest{
    background-color: $brown-blocks;
    height: 250px;
    text-align: center;
    h2 {

      &:before {
        content: "★";
      }
    }
    a {
      color: white;
      @include text-shadow(rgba(0, 0, 0, .8) 0px 1px 0);
      font-size: 20px;
    }
  }
  #left_block_frontpage {
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    border-radius: 10px 10px;
    box-shadow: 0px 3px 3px #333;
    background-color: #7F7259;

    margin-right: 0%;
    margin-left: 1%;
    &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      -webkit-box-shadow: 0 15px 10px #000;
      -moz-box-shadow: 0 15px 10px #000;
      box-shadow: 0 15px 10px #000;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }
  }
  #right_block_frontpage,
  .pane-current-contest{
    background-color: #7F7259;
    box-shadow: 0 3px 3px #333;

    margin-left: 0%;
    text-align: center;
    margin-right: 1%;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    border-radius: 10px 10px;
    &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      right: 10px;
      width: 80%;
      top: 80%;
      -webkit-box-shadow: 0 15px 10px #000;
      -moz-box-shadow: 0 15px 10px #000;
      box-shadow: 0 15px 10px #000;
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      transform: rotate(2deg);

    }
  }

  #page-title, .page-home2 h2,
  #mp3-albums-panel .pane-title,
  #mp3-songs-panel .pane-title,
  #popular-items-panel .pane-title {
    font-size: 28px;
    font-weight: 600;
    margin-left: -10px !important;
    text-transform: uppercase;
    margin-bottom: 0px;
    width: 100.1%;
    padding: 10px 10px;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);



  }

  .view-demo-content-slideshow {
    /* HP blocks: Slideshow */
  }
  .view-demo-content-slideshow .bx-wrapper {
    padding-bottom: 100px;
  }
  .view-demo-content-slideshow .bx-wrapper ul.event-slider li {
    overflow: visible;
  }
  .view-demo-content-slideshow .views-field-nothing {
    background: #888;
    border: 1px solid #cccccc;
    color: #ffffff;
    padding-bottom: 5px;
    position: absolute;
    bottom: -100px;
    left: 34%;
  }
  .view-demo-content-slideshow .bx-prev,
  .view-demo-content-slideshow .bx-next {
    color: #000000;
    background: #EEE;
    border: 1px solid #cccccc;
    text-decoration: none;
    display: block;
    margin-top: 15px;
    padding-bottom: 5px;
  }
  .view-demo-content-slideshow .bx-prev:hover,
  .view-demo-content-slideshow .bx-next:hover {
    background: #FFF;
  }
  .view-demo-content-slideshow .views-field-nothing,
  .view-demo-content-slideshow .bx-prev,
  .view-demo-content-slideshow .bx-next {
    display: block;
    height: 80px;
    text-align: center;
    text-indent: 0;
    width: 32%;
    margin-right: 2%;
  }
  .view-demo-content-slideshow .views-field-nothing span.field-content,
  .view-demo-content-slideshow .bx-prev span.field-content,
  .view-demo-content-slideshow .bx-next span.field-content {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 21px;
    height: 80px;
    line-height: 28px;
    padding: 10px 25px 0;
    overflow: hidden;
  }
  .view-demo-content-slideshow .views-field-nothing span.field-content em,
  .view-demo-content-slideshow .bx-prev span.field-content em,
  .view-demo-content-slideshow .bx-next span.field-content em {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
  }
  .view-demo-content-slideshow .bx-prev {
    margin-left: 0;
    /* LTR */
    float: left;
    /* LTR */
    position: absolute;
    bottom: 0;
    left: 0;
    /* LTR */
  }
  .view-demo-content-slideshow .bx-next {
    margin-right: 0;
    /* LTR */
    float: right;
    /* LTR */
    position: absolute;
    bottom: 0;
    right: 0;
    /* LTR */
  }

  .page-cart #region-sidebar-second {
    display: none;
  }

  .node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart {
    background: none;
    padding-top: 0px;
  }

  .node-product-type .field-type-commerce-product-reference {
    background: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .node-product-type .field-name-commerce-price {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .pane-product-list,
  .pane-popular-products {
    margin-bottom: 70px;
    margin-top: -20px;
  }
  .pane-product-list .more-link a,
  .pane-popular-products .more-link a,
  {
    @include button(#2698f2);
    @include button($dark-red);

    color: white;
    float: right;
  }

  .messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {

  }
}

.pane-homepage-slider {
  #flexslider-1 {
    border: 0px;
    background: none;
    margin: 0 0 35px;
    .flex-control-nav {
      bottom: -30px;
    }
    .slides {
      li {
        margin-left: -0%;
        .field-name-field-image {
          img {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
          }
        }
        .flex-caption {
          position: relative;
          margin-top: -200px;
          height: 50px;
          color: white;
          padding: 50px;
          font-size: 2em;
          text-shadow: black 1px 3px 5px;
        }
        .views-field-nothing {
          position: relative;
          margin-top: -126px;
          padding: 50px;
          .field-name-field-tagline {
            color: white;
            font-size: 1.5em;
            text-shadow: black 1px 3px 5px;

          }
          a {
            @include button(#2698f2);
            @include button(#904848);

            color: white;
            float: right;
          }
        }
      }

    }
    .flex-direction-nav {
      .flex-prev, .flex-next {
        height: 47px;
      }
    }

  }
}

.page-home2 {
  .pane-latest-products {
    margin-top: 20px;
    .pane-content {
      background-color: $grey-content;
    }
  }
  .pane-blog {
    .pane-content {
      margin-top: -30px;
      background-color: $grey-content;
    }
  }
}

//body

.pane-blog {
  .views-row {
    width: 43% !important;
    margin: 3% !important;
    h2 {
      a {
        font-weight: bold;
      }
    }

  }
}

.page-home2 .pane-blog .view-blog {
  margin-top: 20px;

  .views-row {
    .node-title {
      padding: 0 15px;
    }
    width: 43% !important;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin: 3% !important;
    .field-name-field-news-video {
      margin-top: 14px;

      iframe {
        width: 390px;
        height: 270px;
      }
    }
    .field-name-body, .field-name-field-blog-category, .field-name-field-tags {
      display: none;
    }
    .field-name-field-news-date {
      margin-top: -35px;

      span {
        &:before {
          content: '#';
        }
      }
    }
  }

}







.node-teaser .links {
  border-radius: 0px;
}

.node-teaser .links.node-links .links .node-readmore a,
.node-teaser .links.node-links .links .comment-comments a,
.node-teaser .links.node-links .links .comment-new-comments a {
  border: 0px !important;
  margin: 3px !important;
  @include button($dark-red);
  color: white !important;
  @include border-radius(5px);
}


#zone-content {
  .region-content {
    //    background-color: #dddddd;

  }
  #page-title {
    background-color: $brown-blocks;
    color: white;
    text-align: left;
    text-indent: 2%;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  }
  .content {
    padding: 15px;

    .node-artist {
      .group-left {
        width: 30%;
        .ss-icon {
          margin: 13px;
        }
        .artist-facebook, .artist-myspace, .artist-twitter, .artist-youtube {
          display: inline-block;
          vertical-align: top;
        }
        .artist-myspace {
          margin-top: 5px;
          float: left;
        }
        .artist-facebook a,
        .artist-twitter a,
        .artist-youtube a {
          font-size: 3em !important;
          @include transition(.3s);

        }
        .artist-youtube a {
          color: #b11b1b !important;
          @include link_transition(#b11b1b);

        }
        .artist-twitter a, .artist-twitter a:hover {
          color: #15afd8 !important;
        }
        .artist-facebook a {
          color: #4d79ba !important;
        }
        .artist-myspace a {
          display: block;
          background-image: url(../images/myspace-dlr.png);
          height: 44px;
          width: 46px;
          background-size: contain;
          background-repeat: no-repeat;
          text-indent: -999999px;
        }

        .field-name-field-artist-website {
          text-align: center;
          font-size: 10px;
          a {
            @include button($flat-asbetsos);

            @include transition(.3s);
          }
        }
      }
      .group-right {
        width: 70%;
        .artist-image {
          padding: 10px;
          img {
            @include border-radius(5px);
            @include longshadow(#ccc);
          }
        }
        .field-name-field-biography {
          text-align: justify;
          padding: 10px;
          color: #444;
          // @include text-shadow(2px, 2px, rgba(black, 0.2));

        }

      }
    }
    // background-color: $grey-content;
    //.node-artist{

    .field-name-field-artist-website {
      font-size: 20px;
    }
    //}
    .view-artists {
      .views-row {
        display: inline;
        // @include span-columns(2,10);
      }
    }
    .view-tour-dates {
      table {
        caption{
font-size:20px;
          text-align: center;

        }
        // a{color:#16a085;}
        width: 100%;
        .field-name-field-band {
          a {
            font-weight: bold;
            font-size: 20px;
          }
        }
        .field-name-field-concert-buy-tickets-link a {
         // @include button(#2698f2);
          @include button(#904848);
          color: white;
          float: right;
        }
      }
    }
    .view-artists,
    .view-taxonomy-term,
    .view-latest-products {
      .view-content {
        padding: 20px;
        margin: auto;
        text-align: center;
        .views-row {
          vertical-align: top;
          margin-bottom: 20px;
          vertical-align: top;
          display: inline-block;
          width: 30%;
          text-align: center;
          .field-name-field-artist-main-image {
            //width: 300px;
            //height: 300px;
            border-radius: 150px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;

          }
          .views-field-title {
            font-size: 20px;
            text-align: center;
            width: 100%;
            margin-top: -80px;
            z-index: 20;
            overflow: visible;
            height: 60px;
            a{
              color:$dark-red;
              color:white;
              text-shadow: 0 1px rgba(0, 0, 0, .8);
              &:hover{
                //background-color: $dark-red;
                color:$dark-red;
                text-shadow: 0 1px rgba(0, 0, 0, .8)
              }

            }

          }
        }
      }
    }
  }

}



#zone-content #region-content .region-inner {
  -moz-border-radius: 15px;
  border-radius: 15px;

  background-color: #DDDDDD;
  background-color: #D1D1D1;
 // box-shadow: 3px 3px 3px #94927e;
 // box-shadow: 0px 0px 6px #444;
  &:after, &:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px #000;
    -moz-box-shadow: 0 15px 10px #000;
    box-shadow: 0 15px 10px #000;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);

  }
  &:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
  &:before {

  }
}

#pane  #zone-content {


}

#section-footer {
  background-color: black;
  color: #888;
  margin-bottom: -20px;

  #block-menu-menu-social-connection {

    .content {
      ul.menu {
        li {
          a {

            background-image: none;
            // font-size: 30px;

          }
        }
      }
    }
  }
}

#widget .singleSound .sound__content {

  .sc-media-right,
  .soundHeader__title,
  .sound__waveform {
    display: none !important;
  }
}

#zone-content {

  .pane-releases {
    margin-top: 50px;
    .pane-title {
      text-align: center;
      position: relative;
      color: #fff;
      margin: 0 -30px 30px -30px;
      padding: 10px 0;
      text-shadow: 0 1px rgba(0, 0, 0, .8);
      @include text-shadow(rgba(0, 0, 0, .8) 0px 1px 0);
      background: $brown-blocks;

      font-size: 28px;
      font-weight: 600;
      margin-left: -10px !important;
      text-transform: uppercase;
      margin-bottom: 0px;
      width: 100.1%;
      padding: 10px 10px;
      -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
      -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
      -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
      -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
      @include single-box-shadow(rgba(0, 0, 0, .3), 0, 2px, 0.3, 0.3, 0);
      &:before {
        left: 0;
        content: "★";
      }
    }
    .pane-releases article {
      background-color: $grey-content;
    }
  }
  .pane-blog, #mp3-albums-panel,
  #mp3-songs-panel,
  #popular-items-panel,
  .pane-latest-products {
    .pane-title {
      text-align: center;
      position: relative;
      color: #fff;
      margin: 0 -30px 30px -30px;
      padding: 10px 0;
      text-shadow: 0 1px rgba(0, 0, 0, .8);
      @include text-shadow(rgba(0, 0, 0, .8) 0px 1px 0);
      background: $brown-blocks;
      font-size: 28px;
      font-weight: 600;
      margin-left: -10px !important;
      text-transform: uppercase;
      margin-bottom: 0px;
      width: 100.1%;
      padding: 10px 10px;
      -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
      -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
      -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
      -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);

      @include single-box-shadow(rgba(0, 0, 0, .3), 0, 2px, 0.3, 0.3, 0);
      &:before {
        left: 0;
        content: "★";
      }
    }

  }

}


//***************************

#page {
  #section-header {

  }
  #section-content {
    #breadcrumb {

    }
    #messages {
     .error{
       display: none;
     }
    }
    #region-content {
      #page-title {
        box-shadow: 0 0 2px #000000;
      }
      #block-system-main {
        .pane-latest-products{
          width: 700px;
          margin-left: -15px;
        }
        .artist-pane-image {
          .pane-node-field-artist-main-image {
            //display: none;
          }
          .pane-node-field-artist-website{
            float: right;
            margin-top:13px;
            a{
            }
          }
          .pane-node-field-artist-myspace {
            width: 45px;
            display: inline;
            float:left;
            margin-top:5px;
            a {
              display: block;
              background-image: url(../images/myspace-dlr.png);
              height: 44px;
              width: 46px;
              background-size: contain;
              background-repeat: no-repeat;
              text-indent: -999999px;
            }
          }
          .pane-node-field-artist-facebook {
            width: 45px;
            display: inline;
            float:left;
            .artist-facebook {
              a {
                color:$fb-blue;
                font-size: 45px;
                width: 45px;
              }
            }
          }
          .pane-node-field-artist-twitter {
            width: 45px;
            display: inline;
            float:left;
            .artist-twitter {
              a {
                color: $twitter-blue;
                font-size: 45px;
              }
            }
          }
          .pane-node-field-youtube {
            width: 45px;
            display: inline;
            float:left;
            .artist-youtube {
              a {
                color: red;
                font-size: 45px;

              }
            }
          }
        }
      }
      #block-addtoany-addtoany-button {
        padding: 1em;
      }

    }
    #region-footer {

    }

  }
}
#section-footer #block-menu-menu-social-connection .content ul.menu li a:before{
  margin-right:5px;
  margin-top: 3px;
  float: left;
}









.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit{
  @include button($dark-red);
}


//footer

#zone-footer-wrapper{
 // @include span-columns(9, 12);
  width: 100%;

  .region-footer-first{
    @include span-columns(2, 9);
    display: none;
  }
  .region-footer-second{
    @include span-columns(4, 9);
    .view-tweets{
      ul{
        margin-top:20px;
        list-style: none;
        li{
          border-bottom: thin dashed #696969;
        }
      }
    }
  }
  .region-footer-third{
    @include span-columns(4, 9);
  }
}


// megamenu

.tb-megamenu .nav > li > a {
  border-right: 0px solid #222!important;
  background: none!important;
  padding: 16px 63px;
  text-shadow: none;
  font-size: 17px;
  text-transform: uppercase;
}