#zone-content #region-content .region-inner:after, #zone-content #region-content .region-inner:before {

}

#zone-content #region-content .region-inner:after, #zone-content #region-content .region-inner:after {

}

.page-cart {
  .view-commerce-cart-form {
    .entity-commerce-product{
      .field-name-title-field{
        font-weight: bold;
        margin-bottom: 1em;
      }
      .field-name-field-images{

      }
    }
  }
}




//checkout
.page-checkout{
  .commerce-checkout-progress{
    list-style: none!important;

    li{
      font-size:12px!important;
      &.active{
        background-color: $dark-red!important;
        color: #ffffff;
        &:after{
          //background: transparent url("../images/bg_checkout_progress_active.png") right center no-repeat;
           @include arrow(25px,50px,right,$dark-red);

        }
      }
      &.last{
        &:after{
          background: #efefef url("../images/bg_checkout_progress_last.png") right center no-repeat;
        }
      }

    }
  }
}



//review

.page-checkout-review{
  #edit-continue{
    background: $dark-red!important;
    @include button($dark-red);
    color:white;
  }
}