@mixin link_transition($bg) {
  @if lightness($bg) > 68% {
    $color: desaturate(darken($bg, 35), 70);
    &:hover, &:focus {
      background: darken($bg, 5);
      color: darken($color, 5);
      @include border-radius(100px);
    }
  } @else {
    $color: lighten($bg, 35);
    &:hover, &:focus {
      background: darken($bg, 5);
      color: lighten($color, 5);
      @include border-radius(100px);

    }
  }
}

@mixin button($bg, $icon: none, $iconPosition: right) {
  background: $bg;
  $color: black;
  color: white;
  text-transform: uppercase;
  decoration: none;
//  width: 100%;

  padding: 10px 20px;
  border-radius: .5em;
  @each $thing in $icons {
    @if nth($thing, 1) == $icon {
      @if $iconPosition == right {
        padding-right: 3.5em;

        &:after {
          content: nth($thing, 2);
          right: 1.5em;
        }
      }
      @if $iconPosition == left {
        padding-left: 3.5em;

        &:before {
          content: nth($thing, 2);
          left: 1.5em;
        }
      }
    }
  }
  @if lightness($bg) > 68% {
    $color: desaturate(darken($bg, 35), 70);
    &:hover, &:focus {
      background: darken($bg, 5);
      color: darken($color, 5);

    }
  } @else {
    $color: lighten($bg, 35);
    &:hover, &:focus {
      background: darken($bg, 5);
      color: lighten($color, 5);

    }
  }

  color: $color;
  &:hover, &:focus {
    box-shadow: 0 0 0 5px lighten($bg, 20);
  }
}

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}


@mixin arrow($width: 20px, $height: 20px, $direction: up, $color: red){
  width: 0;
  height: 0;

// Right
  @if ($direction == right){
  border-top: $height/2 solid transparent;
  border-bottom: $height/2 solid transparent;
border-left: $width solid $color;}

// Left
@if ($direction == left){
border-top: $height/2 solid transparent;
border-bottom: $height/2 solid transparent;
border-right: $width solid $color;
}
// Up
@if ($direction == up){
border-left: $width/2 solid transparent;
border-right: $width/2 solid transparent;
border-bottom: $height solid $color;
}
// Down
@if ($direction == down){
border-left: $width/2 solid transparent;
border-right: $width/2 solid transparent;
border-top: $height solid $color;
  }
}
