.page-blog .region-content .view-content .views-row {
  width: 100% !important;
  float: none;
  float: right;
  float: none;
  border: 1px solid white;
  display: block;
  margin: 19px 0;
  clear: both;
  position: relative;
}

/*
.page-blog .region-content .view-content .views-row,
.page-blog .region-content .view-content .views-row-even{}

.page-blog .region-content .view-content .views-row,
.page-blog .region-content .view-content .views-row .content{}

.page-blog .region-content .view-content .views-row{
  width:90%;
}

.page-blog {

  @include border-radius(10px);
  .region-content {
    .view-content {
      .views-row {
        width: 43% !important;
        margin: 3% !important;
        h2 {
          a {
            font-weight: bold;
          }
        }

      }
      .field-name-field-news-video iframe {
        width: 220px;
        height: 150px;
      }
    }
  }

}



.node-type-blog-post .field-name-field-image a::after {
  content: "click image to view full size";
}


.pane-blog {
  background-color: white !important;
  h2 {
    font-size: 28px;
    font-weight: 600;
    margin-left: -10px !important;
    text-transform: uppercase;
    margin-bottom: 0px;
    width: 100.1%;
    padding: 10px 10px;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    text-align: center;
    position: relative;
    color: #fff;
    margin: 0 -30px 30px -30px;
    padding: 10px 0;
    text-shadow: 0 1px rgba(0, 0, 0, .8);
    @include text-shadow(rgba(0, 0, 0, .8) 0px 1px 0);
    background: #5c5c5c;

    @include single-box-shadow(rgba(0, 0, 0, .3), 0, 2px, 0.3, 0.3, 0);
  }
  .pane-content {
    //background-color: $grey-content;
    article {
      background-color: white;
    }
  }
}



// news page

.node-type-blog-post{

  #zone-content{
    .field-name-field-tags{
      border-top: 0px dotted #777777;
      font-size: 11px;
      margin-bottom: 5px;
      padding: 3px;
      margin-top: 20px;
      a{
        @include button($brown-blocks);
        color:white;
        padding: 2px 6px;
      }
    }
  }
}

.class-view-news{
  .node-teaser .links.node-links .links .comment-comments a{
    display: none;
  }
  .node-teaser .links.node-links .links .node-readmore a{
    float:right;
  }

  .views-row{
    .field-name-field-tags{

      a{
        @include button($brown-blocks);
        padding: 2px 6px;
        color:white;
        display: inline-block;
        margin-bottom: 1px;
      }
    }
  }
}*/
.class-view-news {
  tr {
    background-color: #eee;
    border-bottom: 30px solid #D1D1D1;
    padding: 0.1em 0.6em;

    .field-name-field-image {
      width: 300px;
      overflow: hidden;
      // height:200px;
      //width:320px;
      //border: 0px solid #AC8D71;
      // float:left;
      //margin:20px;
      img {
        @include transform(Scale(1));
        @include transition(all 0.4s ease-in-out);
        &:hover {
          @include transform(Scale(1.2));
          @include transition(all 0.4s ease-in-out);

        }
      }
    }
    .news-title {
      padding: 15px;

      h3 {

        a {
          display: block;
          font-size: 20px;
          line-height: 1;
          color: $dark-red;
        }
      }
      span {
        color: grey;
      }
      .field-name-field-tags {
        display: block;
        a {
          @include button($brown-blocks);
          color: white;
          padding: 0px 5px;
          display: inline-block;
          margin-top: 1px;
        }
      }
      .field-name-body {
        margin: 10px 0px;
      }
      p {
        a {
          @include button($dark-red);
          color: white;
          float: right;
        }
      }
    }
    td {
      padding: 0px;
    }
  }
}

.node-type-blog-post {
  .node-blog-post {
    .field-name-field-tags {
      border-top: 0px solid white !important;
      font-size: 15px !important;
      a {
        @include button($brown-blocks);
        color: white;
        padding: 0px 5px;
        display: inline-block;
        margin-top: 1px;
      }
    }
    .field-name-field-news-date {
      text-align: right;
      color: grey;
      .date-display-single {
        &:before {
          content: "Posted on ";
        }
      }

    }
  }
}

// taxonomy term

.page-taxonomy-term {
  .node-blog-post {
    margin-top: 20px;
    background-color: #eee;
    width: 100%;
    .field-name-field-image {
      width: 300px;
      float: left;
      margin-right: 10px;
    }
    .field-name-field-news-date{
      color:grey;
    }
    .field-name-body {
      width: 330px;
      float: right;
      margin-top: 10px;
    }
    .node-title {
      a {
        color: #904848;

      }
      display: block;
      font-size: 20px;
      line-height: 1;
      float: right;
      margin-top: 12px;
      width: 345px;
    }
  }
  nav {
    &.node-links {
      float: right!important;
      width: 100px;
      margin-top: -70px;
      ul {
        li {
          &.comment-comments {
            display: none;
          }
          &.node-readmore {
            float: right;
            a {
              float: right;
            }
          }
        }
      }
    }
  }
}