.view-product-list,
.view-popular-products,
.view-latest-products,
.view-artist-related-products{
  margin: auto;
  text-align: center;

  //width: 30%;
  // width: 100%;
  display: inline-block;
  vertical-align: top;

  .node-product-display {
    header {
      .field-name-title-field {
        color: black;

        a {
          //color: $dark-red;
          color: black;
          font-size: 18px;
          line-height: 1;
          float: left;
          text-align: center;
          width: 100%;
          margin-bottom: 6px;
        }
      }
    }
    .field-name-field-band {
      a {
        @include span-columns(3, 3);
        text-align: center;
        color: $dark-red;
      }
    }
    .field-name-field-product {
      margin-top: -31px !important;
      text-align: center;
    }
    .field-name-commerce-price {
      font-size: 20px;
      text-align: center;

    }
  }

}

.node-product-type {
  .field-type-commerce-product-reference {
    form {
      .commerce-add-to-cart {
        .form-submit {
          &#edit-submit {
            background-color: $dark-red !important;
            background-image: none !important;
            padding: 0px !important;
          }
        }
      }
    }
  }
}

.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
  background-color: $dark-red !important;
  background-image: none !important;
  background-position: 90% 50%;
  /* LTR */
  background-repeat: no-repeat;
  border: 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 10px !important;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 5px;
  /* LTR */
  padding: 6px 13px !important;
  /* LTR */
}

#frontpage-latest-products .view-latest-products .view-content {
  background-color: $grey-content;
}

.commerce-add-to-cart-confirmation {
  width: 100% !important;

  .button-wrapper {
    .checkout {
      @include button($dark-red);
      background-color: $dark-red !important;
    }
  }
  .view-confirm-message-product-display {
    .view-content {
      left: 200px !important;
      width: 100% !important;
      margin-left: 0px !important;

    }
  }
}

.commerce-add-to-cart-confirmation  .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  position: absolute !important;
  left: -160px !important;
  width: 130px;
}

//store panel
.page-products-panel {
  .panel-display {

    table {
      tbody {
        width: 100%;
      }
    }
    .pane-popular-products {

    }
    #mp3-albums-panel {
    }
    #mp3-songs-panel {
    }
  }

}

.view-product-list,
.view-latest-products,
.view-popular-products{
// @include span-columns(9, 12);
//width: 700px;
  width: 100%;
  tr {
    td {

      // width: 155px;
      @include span-columns(2, 9);
      width: 23%;
     // width: 25%!important;
      padding: 0!important;
      //margin:0px!important;
      margin-left:5px;
      margin-right:5px;
      .node-product-display {
       // @include span-columns(2, 2);
        .content{
         // @include span-columns(2, 2);
          .field-name-field-images {
           // @include span-columns(2,2);
            width: 100px;
            width: 100%;

          }
          header h2.field-name-title-field {

            a {
              color: black !important;
            }
          }
          .field-name-field-band {
            a {
              color: $dark-red;
            }
          }
          .field-name-commerce-price {

          }
          .field-name-field-product {

          }
        }

      }
    }
  }
}

// PRODUCT PAGE

.node-type-product-display{


  .node-product-display {
    .group-left {

    }
    .group-right {
      text-align: right;
      .field-name-title {
        padding: 0 13px;
      }

      .field-name-field-band {
        padding: 0 13px;
        margin-top: -15px;
        a{
          color:$dark-red;
          font-size: 16px;
          margin-top: -9px;
        }
      }
      .field-name-field-release-date {
        padding: 0 13px;
      }
      .field-name-commerce-price {
        padding: 0 13px;
      }
      .field-name-field-product {
        padding: 0 13px;
        float: right;
        margin-bottom: 20px;

        .commerce-add-to-cart {
          #edit-submit {
            padding: 15px 24px !important;
            font-size: 20px !important;
          }
        }
      }

    }
  }
}

// product list in artist page.

.node-type-artist {

  .panel-flexible {
    .panel-flexible-inside {
      .panels-flexible-row {
        width: 100%;
        &.panels-flexible-row-last {
          .pane-artist-related-products {
            .view-artist-related-products {
              table {
                width: 100%;
                tbody {
                  tr {
                    td {

                      //@include span-columns(3, 12);
                      width: 25%!important;
                      padding: 0!important;
                      margin:0px!important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}