/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";





$brown-background: #9D9B86;
$brown-blocks:#7F7259;
$grey-content:#DDDDDD;

body{
  background:$brown-background;

  .section-footer {
    background-color: white;
  }
}
