

$base-font-size: 14px;


//susy grid layout
$total-columns: 12;
$column-width: 4em;
$gutter-width: 0.5em;
$grid-padding: $gutter-width;

$breakpoint-default-media: 'all';
$breakpoint-default-feature: 'min-width';
$breakpoint-default-pair: 'width';
$breakpoint-to-ems: true;

$iphone: 320px;
$ipad-screen: 768px;
$large-screen: 1000px;

$max-width: 1024px;
$max-special-width: 1500px;


$max-special-width-margin: $max-special-width - $max-width;

$style: solid;


// Main container for whole page - on every page
body {

  width:100%

}

#region-sidebar-second{
  .block{
    .block-inner{
      .content{
        padding: 0px;
      }
    }
  }
}