//@import 'variables';
//@import 'mixins';
//$dark-red:#904848;


.tour-calendar {
  margin: 30px auto;

  width: 93px;
  height: 111px;

  background-color: #ffffff;
  border-radius: 10px;

  position: relative;

  &:before {
    content: '';
    display: block;

    width:93px;
    height: 69px;

    border-radius: 10px 10px 0 0;

    background-image: -webkit-linear-gradient(white 0%, #edeeef 100%);
    background-image: -moz-linear-gradient(white 0%, #edeeef 100%);
    background-image: -o-linear-gradient(white 0%, #edeeef 100%);
    background-image: linear-gradient(white 0%, #edeeef 100%);

  }

  .month {
    width: 93px;
    height: 27px;

    position: absolute;
    top: -1px;

    background-color: #fa565a;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #e5e5e5;

    font: 400 15px/27px Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: 0.5px;
    color: #fff;

    text-align: center;
  }

  .day {
    width: 93px;
    height: 80px;

    position: absolute;
    top: 28px;

    font: 400 55px/75px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: -2px;
    color: #4c566b;

    text-align: center;

    z-index: 10;

    &:before {
      content: '';
      display: block;

      position: absolute;
      top: 35px;

      width: 3px;
      height: 10px;

      background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
    }

    &:after {
      content: '';
      display: block;

      position: absolute;
      top: 35px;
      right: 0;

      width: 3px;
      height: 10px;

      background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
    }

  }



}

.views-field-title{
  .tour-band {
    margin-top: 22px;
    a{
      color:$dark-red;
      font-size:20px;
      font-weight:bold;
      margin-top: 22px;
    }
  }
  .tour-location{
    padding-top: 15px;
    line-height: 2;
    .ss-icon{
      float:left;
      padding-right: 7px;
      color:white;
      @include text-shadow(rgba(100, 100, 100, 0.1) 1px 1px 0px);
    }
    .location{
      &.map-link{
        a{
         color:$dark-red;
        }
      }
      .adr{
        text-transform: capitalize;
      }
    }
  }

}

//tickets
.tour-tickets {
  margin-top: 70px;
  margin-right: 8px;
  float: right;

  a{
     @include button($dark-red);
    color:white!important;


  }
}

.view-tour-dates{
  tr{
    background-color: #eee;
    border-bottom: 8px solid #D1D1D1;
    padding: 0.1em 0.6em;
  }
}

/* @end */