

$icons: ('save' '\1F4BE'),
  ('delete' '\12as'),
  ('fb' '\F30E'),
  ('twitter' '\F309'),
  ('bolt' '\26A1'),
  ('danger' '\26A0'),
  ('tick' '\2713');
;

$red: rgb(235, 80, 66);
$blue: rgb(90, 120, 255);
$yellow: rgb(255, 255, 95);
$green: rgb(180, 255, 92);
$fb-blue: #3B5998;
$twitter-blue: #4099FF;

$flat-asbetsos: #7f8c8d;

$brown-background: #9D9B86;
$brown-blocks: #7F7259;
$grey-content: #DDDDDD;
$dark-red:#904848;
$brown: #906848;
$green:#397339;
$light-green:#708643;
